
<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  Pirate Ship Name: <input type="text" name="ship_name_1">
  Pirate Ship Type: <input type="text" name="ship_type_1">
  Pirate Ship Booty: <input type="text" name="ship_booty_1">
  Pirate Ship Name: <input type="text" name="ship_name_2">
  Pirate Ship Type: <input type="text" name="ship_type_2">
  Pirate Ship Booty: <input type="text" name="ship_booty_2">
  <input type="submit">
</form>

